@import "variables";
.time-array {
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  .time-from {
    padding-right: 39px;
    border-right: 1px solid $grey;
  }
  .time-to {
    margin-right: 32px;
  }

  .time-to,
  .time-from,
  .month-select {
    select {
      border: none;
      background: transparent;
      font-weight: 600;
      outline: none;
    }
  }
}

#calendar-big {
  .calendar-big-header {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
    .month-select {
      background-color: $grey;
      border-radius: 8px;
      padding: 10px;
    }
    .time-array {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      @media (max-width: 768px) {
        padding-top: 0;
      }
      @media (max-width: 998px) {
        flex-direction: column;
        gap: 20px;
      }
      .time {
        display: flex;
        justify-content: center;
        @media (min-width: 768px) and (max-width: 998px) {
          justify-content: space-evenly;
        }
        @media (max-width: 768px) {
          justify-content: flex-start;
        }
        background-color: $grey;
        border-radius: 8px;

        .time-from,
        .time-to {
          padding: 10px 16px;
          margin: 0;
          select {
            text-align: right;
          }
          @media (max-width: 768px) {
            padding-right: 8px;
          }
        }
        .time-from {
          border-right: 1px solid #e0e0e0;
          @media (max-width: 768px) {
            padding-right: 36px;
          }
        }
      }
    }
  }
}
