.shadow__background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #1a1d1c;
  opacity: 0;
  display: none;
  transition: 0.5s ease;
}

.shadow__main {
  display: none;
  opacity: 0.2;
  z-index: 2;
}

body {
  background-color: #e5e5e5;
}

header {
  display: flex;
  background-color: #fff;
  padding: 8px;
  position: fixed;
  z-index: 3;
  right: 0;
  left: 0;
  top: 0;
  /*----------Nav Bar------------------*/
  /*----------Profile------------------*/
}
header .navbar {
  background-color: #fff;
}
header .navbar .logo {
  margin-right: 50px;
}
header .navbar .logo a img:last-child {
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  header .navbar .logo a img:first-child {
    display: none;
  }
}
@media (max-width: 768px) {
  header .navbar .logo {
    margin: 0;
  }
}
header .navbar .nav-link {
  padding: 14px;
  margin-left: 48px;
}
header .navbar .btn.upload {
  border: 1px solid #00bba4;
  color: #00bba4;
  margin: 0px 48px;
  padding: 12px 39px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 988px) {
  header .navbar .btn.upload {
    display: none;
  }
}
header .navbar form .form-control {
  background: #f2f2f2;
  border: none;
}
@media (max-width: 768px) {
  header .navbar form .form-control {
    padding: 5px;
    max-width: 40px;
    margin: 0px !important;
    background-color: #fff;
  }
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*----------Logo------------------*/
  /*----------Hamburger menu------------------*/
}
@media (min-width: 988px) {
  header .nav {
    padding: 24px 0;
  }
}
header .nav .logo {
  display: flex;
}
header .nav .logo img:last-child {
  margin: 0px 0px 8px 5px;
}
@media (max-width: 768px) {
  header .nav .logo img:first-child {
    display: none;
  }
}
header .nav .header-menu {
  display: none;
}
@media (max-width: 768px) {
  header .nav .header-menu {
    display: inline-block;
  }
}
header .nav .header-menu #menu__toggle {
  opacity: 0;
  margin-right: 40px;
}
header .nav .header-menu #menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
header .nav .header-menu #menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
header .nav .header-menu #menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
header .nav .header-menu #menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
header .nav .header-menu #menu__toggle:checked ~ .shadow__background {
  opacity: 0.2;
  z-index: 3;
  display: block;
}
header .nav .header-menu .menu__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
header .nav .header-menu .menu__btn > span, header .nav .header-menu .menu__btn > span::before, header .nav .header-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 18px;
  height: 3px;
  background-color: #616161;
  transition-duration: 0.25s;
  z-index: 1;
}
header .nav .header-menu .menu__btn > span {
  top: 6px;
  z-index: 4;
}
header .nav .header-menu .menu__btn > span::before {
  content: "";
  top: -6px;
}
header .nav .header-menu .menu__btn > span::after {
  content: "";
  top: 6px;
}
header .nav .header-menu .menu__box {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  left: -100%;
  width: 220px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  transition-duration: 0.25s;
}
header .nav .header-menu .menu__box .menu__item {
  display: block;
  padding: 12px 24px;
  color: #1a1d1c;
  font-size: 14px;
  text-decoration: none;
  transition-duration: 0.25s;
}
header .nav .header-menu .menu__box .menu__item:hover {
  background-color: #cfd8dc;
}
header .nav-items {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
@media (max-width: 988px) {
  header .nav-items {
    display: none;
  }
}
header .nav-items a {
  text-decoration: none;
  color: #1a1d1c;
}
header .nav-items a:last-child {
  margin-right: 24px;
}
header .nav-items a:hover {
  opacity: 0.6;
}
header .profile {
  display: flex;
  align-items: center;
  gap: 20px;
  /*-----------------Search Input-----------------------*/
  /*---------------Upload button---------------------*/
  /*----------Profile image/button------------------*/
}
header .profile #search {
  display: flex;
}
header .profile #search .large-screen-search,
header .profile #search .small-screen-search {
  height: 40px;
}
header .profile #search .large-screen-search input,
header .profile #search .small-screen-search input {
  background-color: #f2f2f2;
  font-size: 14px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 8px;
}
header .profile #search .large-screen-search input:focus::placeholder,
header .profile #search .small-screen-search input:focus::placeholder {
  color: transparent;
}
header .profile #search .large-screen-search {
  display: flex;
  align-items: center;
}
header .profile #search .large-screen-search input {
  width: 280px;
}
@media (max-width: 768px) {
  header .profile #search .large-screen-search {
    display: none;
  }
}
header .profile #search .small-screen-search {
  display: none;
}
header .profile #search .small-screen-search .search-box {
  position: relative;
  margin-right: 20px;
}
header .profile #search .small-screen-search .search-box * {
  outline: none;
  border: none;
}
header .profile #search .small-screen-search .search-box .input-search {
  border-radius: 8px;
  position: absolute;
  width: 0px;
  left: -165px;
  font-size: 14px;
  background-color: transparent;
  transition: 0.4s ease;
}
header .profile #search .small-screen-search .search-box .input-search:focus {
  width: 200px;
  background-color: #f2f2f2;
}
header .profile #search .small-screen-search .search-box .btn-search {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  font-size: 20px;
  background-color: #fff;
}
header .profile #search .small-screen-search .search-box .btn-search:focus ~ .input-search {
  width: 200px;
  background-color: #f2f2f2;
}
@media (max-width: 768px) {
  header .profile #search .small-screen-search {
    display: block;
  }
}
header .profile .upload-button {
  text-decoration: none;
  padding: 8px 39px;
  border: 1px solid #00bba4;
  border-radius: 8px;
  color: #00bba4;
  transition: 0.3s ease;
  margin-right: 28px;
}
@media (max-width: 988px) {
  header .profile .upload-button {
    display: none;
  }
}
header .profile .upload-button:hover {
  background-color: #00bba4; /*secondary Color */
  color: #fff;
}
header .profile .notifications a {
  transition: 0.2s ease;
}
header .profile .notifications a:hover > img {
  transform: scale(1.3);
}
header .profile .notifications a img {
  transition: 0.2s ease;
}
header .profile .profile-image {
  position: relative;
  transition: 0.2s ease;
}
header .profile .profile-image:hover {
  transform: scale(1.1);
}
header .profile .profile-image .porfile-button {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.time-array {
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.time-array .time-from {
  padding-right: 39px;
  border-right: 1px solid #f2f2f2;
}
.time-array .time-to {
  margin-right: 32px;
}
.time-array .time-to select,
.time-array .time-from select,
.time-array .month-select select {
  border: none;
  background: transparent;
  font-weight: 600;
  outline: none;
}

@media (max-width: 768px) {
  #calendar-big .calendar-big-header {
    display: flex;
    flex-direction: column;
  }
}
#calendar-big .calendar-big-header .month-select {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
}
#calendar-big .calendar-big-header .time-array {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
@media (max-width: 768px) {
  #calendar-big .calendar-big-header .time-array {
    padding-top: 0;
  }
}
@media (max-width: 998px) {
  #calendar-big .calendar-big-header .time-array {
    flex-direction: column;
    gap: 20px;
  }
}
#calendar-big .calendar-big-header .time-array .time {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 8px;
}
@media (min-width: 768px) and (max-width: 998px) {
  #calendar-big .calendar-big-header .time-array .time {
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  #calendar-big .calendar-big-header .time-array .time {
    justify-content: flex-start;
  }
}
#calendar-big .calendar-big-header .time-array .time .time-from,
#calendar-big .calendar-big-header .time-array .time .time-to {
  padding: 10px 16px;
  margin: 0;
}
#calendar-big .calendar-big-header .time-array .time .time-from select,
#calendar-big .calendar-big-header .time-array .time .time-to select {
  text-align: right;
}
@media (max-width: 768px) {
  #calendar-big .calendar-big-header .time-array .time .time-from,
#calendar-big .calendar-big-header .time-array .time .time-to {
    padding-right: 8px;
  }
}
#calendar-big .calendar-big-header .time-array .time .time-from {
  border-right: 1px solid #e0e0e0;
}
@media (max-width: 768px) {
  #calendar-big .calendar-big-header .time-array .time .time-from {
    padding-right: 36px;
  }
}

/*--------------Sidebar------------------*/
aside {
  position: fixed;
  padding: 10px 32px;
  top: 86px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  -webkit-animation: slide-left 0.25s ease;
  -moz-animation: slide-left 0.25s ease;
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 1;
    -webkit-transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slide-left {
  0% {
    opacity: 1;
    -moz-transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@media (max-width: 1198px) {
  aside {
    padding: 10px 12px;
  }
}
@media (max-width: 988px) {
  aside {
    display: none;
    justify-content: flex-start;
    width: 275px;
    height: 100%;
    top: 56px;
    right: 0;
    border-radius: 0px;
    z-index: 3;
  }
}
@media (min-width: 988px) {
  aside {
    top: 138px;
  }
}
aside .sidebar-header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 988px) {
  aside .sidebar-header {
    flex-direction: row;
    width: 100%;
  }
}
aside .sidebar-header .profile-image {
  width: 72px;
  height: 72px;
  margin-bottom: 12px;
}
@media (max-width: 988px) {
  aside .sidebar-header .profile-image {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 998px) {
  aside .sidebar-header .sidebar-header-title {
    margin-left: 16px;
  }
}
aside .sidebar-header .sidebar-header-title h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
@media (max-width: 998px) {
  aside .sidebar-header .sidebar-header-title h3 {
    font-size: 16px;
  }
}
@media (max-width: 998px) {
  aside .sidebar-header .sidebar-header-title p {
    font-size: 12px;
  }
}
aside .sidebar-header .sidebar-header-title p span {
  border-left: 1px solid grey;
  padding-left: 8px;
  margin-left: 8px;
  position: relative;
}
aside .sidebar-header .sidebar-header-title p span img {
  margin-bottom: 5px;
}
@media (max-width: 988px) {
  aside .sidebar-links {
    margin-top: 32px;
  }
}
aside .sidebar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
aside .sidebar-links ul li {
  margin-bottom: 20px;
}
aside .sidebar-links ul li a {
  padding: 12px 60px 12px 18px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease;
}
@media (max-width: 998px) {
  aside .sidebar-links ul li a {
    transition: 0s;
  }
}
aside .sidebar-links ul li a img {
  padding-right: 16px;
}
aside .sidebar-links ul li a:hover {
  background-color: #00bba4;
  color: #fff;
}
aside .upload-button {
  text-decoration: none;
  padding: 12px 39px;
  border: 1px solid #00bba4;
  border-radius: 8px;
  color: #00bba4;
  transition: 0.3s ease;
  margin-right: 28px;
}
@media (min-width: 988px) {
  aside .upload-button {
    display: none;
  }
}
@media (max-width: 998px) {
  aside .upload-button {
    padding: 12px 65px;
    margin-left: 28px;
    transition: 0s;
  }
}
aside .upload-button:hover {
  background-color: #00bba4; /*secondary Color */
  color: #fff;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*--------------Main------------------*/
main {
  padding-top: 104px;
  background: #f9f9f9;
  /*--------------Calendar------------------*/
  /*--------------Calendar Header------------------*/
  /*--------------Choose date------------------*/
  /*-------------Time Set-----------------*/
  /*--------------Big calendar section------------------*/
}
@media (max-width: 768px) {
  main {
    padding-top: 50px;
  }
}
main .calendar-header {
  margin-bottom: 40px;
  /*--------------Save button------------------*/
}
main .calendar-header .calendar-title {
  font-weight: 600;
  margin: 0;
}
main .calendar-header .btn-save {
  padding: 5px 18px;
  background-color: #00bba4;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 0.2s ease;
}
@media (max-width: 988px) {
  main .calendar-header .btn-save {
    right: 20px;
  }
}
main .calendar-header .btn-save:hover {
  opacity: 0.6;
}
main .calendar-header .btn-edit {
  display: none;
  align-items: center;
  outline: none;
  border: none;
  gap: 12px;
  background: transparent;
}
main .calendar-changes {
  -webkit-animation: slide-down 0.4s ease;
  -moz-animation: slide-down 0.4s ease;
}
main .calendar-changes .choose-date .date-title {
  margin-bottom: 24px;
}
main .calendar-changes .choose-date .date-title h6 {
  margin: 0;
}
main .calendar-changes .choose-date .date-title .date-selection {
  position: relative;
}
main .calendar-changes .choose-date .date-title .date-selection select {
  border: none;
  outline: none;
  background: transparent;
}
main .calendar-changes .calendar-edit {
  padding: 0 8px;
}
main .calendar-changes .calendar-edit .calendar-small {
  background-color: #fff;
  border-radius: 16px;
  padding: 0px 16px;
  /*--------------Samll calendar------------------*/
}
main .calendar-changes .calendar-edit .calendar-small .title {
  padding: 24px 0px 20px;
  border-bottom: 1px solid #f2f2f2;
}
main .calendar-changes .calendar-edit .calendar-small .title .date h6 {
  font-weight: 600;
}
main .calendar-changes .calendar-edit .calendar-small .title .arrows a {
  display: inline-block;
  height: 28px;
  width: 28px;
  text-align: center;
  color: #1a1d1c;
  border-radius: 8px;
  transition: 0.2s ease;
}
main .calendar-changes .calendar-edit .calendar-small .title .arrows a:hover {
  background-color: #f2f2f2;
}
main .calendar-changes .calendar-edit .calendar-small .calendar {
  margin-top: 12px;
  margin-top: 12px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}
main .calendar-changes .calendar-edit .calendar-small .calendar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  height: 28px;
  width: 100%;
  background-color: #e6f8f7;
  grid-column: 1/5;
  margin: 14px 0;
  grid-row: 3/4;
}
main .calendar-changes .calendar-edit .calendar-small .calendar a {
  text-decoration: none;
  color: #1a1d1c;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin: 14px 0;
}
main .calendar-changes .calendar-edit .calendar-small .calendar a span {
  height: 28px;
  width: 28px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 2;
}
main .calendar-changes .calendar-edit .calendar-small .calendar a:nth-child(-n+7) span {
  color: #00bba4;
  font-weight: 500;
}
main .calendar-changes .calendar-edit .calendar-small .calendar a:not(:nth-child(-n+7)) span:hover {
  border-radius: 8px !important;
  background-color: #00bba4;
  color: #fff;
}
main .calendar-changes .calendar-edit .calendar-small .calendar .active {
  color: #fff;
}
main .calendar-changes .calendar-edit .calendar-small .calendar .active span {
  background-color: #00bba4;
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@media (max-width: 768px) {
  main .calendar-changes {
    padding: 0 !important;
  }
}
main .line {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 auto;
}
main #time {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 988px) {
  main #time {
    margin-top: 40px;
  }
}
main #time h6 {
  font-weight: 600;
}
main #time h6,
main #time p {
  padding-left: 16px;
}
main #time h6 span,
main #time p span {
  font-size: 14px;
  color: #4f4f4f;
  padding-left: inherit;
  font-weight: 400;
}
main #time .title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main #time .title p {
  color: #1a1d1c;
}
main #time .title button {
  padding: 0;
  background: transparent;
  border: none;
}
main #time .add-time-array {
  display: flex;
}
main #time .add-time-array p {
  font-size: 14px;
  font-weight: 600;
}
main #time .add-time-array button {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00bba4;
  color: #fff;
  border: none;
  transition: 0.2s ease;
}
main #time .add-time-array button:hover {
  transform: scale(1.2);
}
main #time .add-time-array button:active {
  color: #00bba4;
  background-color: #fff;
}
main #calendar-big {
  border-radius: 8px;
  background-color: #fff;
  /*--------------Title------------------*/
  /*--------------Big calendar------------------*/
  /*--------------Meets------------------*/
}
main #calendar-big .title {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 24px;
}
main #calendar-big .title .date {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 24px 0px 24px 32px;
}
@media (max-width: 768px) {
  main #calendar-big .title .date {
    justify-content: center;
  }
}
main #calendar-big .title .date h6 {
  font-weight: 600;
}
main #calendar-big .title .arrows a {
  display: inline-block;
  height: 28px;
  width: 28px;
  text-align: center;
  color: #1a1d1c;
  border-radius: 8px;
  transition: 0.2s ease;
}
main #calendar-big .title .arrows a:hover {
  background-color: #f2f2f2;
}
main #calendar-big .calendar-big {
  margin: 12px 32px 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}
@media (max-width: 786px) {
  main #calendar-big .calendar-big {
    margin: 12px 0 32px;
  }
}
main #calendar-big .calendar-big a {
  text-decoration: none;
  color: #1a1d1c;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
main #calendar-big .calendar-big a.meet-day {
  position: relative;
  background-color: #e6f8f7;
  border: 1px solid #00bba4 !important;
}
main #calendar-big .calendar-big a.meet-day .meet-calendar {
  position: absolute;
  bottom: 6px;
}
main #calendar-big .calendar-big a.meet-day .meet-calendar p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
main #calendar-big .calendar-big a.meet-day .meet-calendar .meets-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #00bba4;
  color: #fff;
}
main #calendar-big .calendar-big a.meet-day .meet-calendar span {
  padding: 0;
}
main #calendar-big .calendar-big a.meet-day .meet-calendar span:last-child {
  margin-top: 6px;
}
@media (max-width: 988px) {
  main #calendar-big .calendar-big a.meet-day .meet-calendar span:last-child {
    display: none;
  }
}
main #calendar-big .calendar-big a.outdate {
  opacity: 0.8;
  color: #828282;
}
main #calendar-big .calendar-big a span {
  height: 28px;
  width: 28px;
  border-radius: 8px;
}
main #calendar-big .calendar-big a:nth-child(-n+7) span {
  color: #4f4f4f;
  margin-bottom: 16px;
}
main #calendar-big .calendar-big a:not(:nth-child(-n+7)) {
  border: 1px solid #dadce0;
}
main #calendar-big .calendar-big a:not(:nth-child(-n+7)):hover {
  background-color: #e6f8f7;
  border: 1px solid #00bba4 !important;
}
main #calendar-big .calendar-big a:not(:nth-child(-n+7)) span {
  padding: 6px 0px 64px;
}
main #calendar-big .meets-list {
  padding: 0 32px 50px !important;
}
main #calendar-big .meets-list .meets-title {
  padding-bottom: 12px;
  color: #1a1d1c;
}
main #calendar-big .meets-list .meets-title h5 {
  font-weight: 600;
}
main #calendar-big .meets-list .meet {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
main #calendar-big .meets-list .meet:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}
main #calendar-big .meets-list .meet h6 {
  font-weight: 600;
  font-size: 14px;
}
main #calendar-big .meets-list .meet ul {
  list-style-type: none;
  grid-column: span 5;
}
main #calendar-big .meets-list .meet ul li {
  position: relative;
}
main #calendar-big .meets-list .meet ul li::before {
  position: absolute;
  top: 8px;
  left: -20px;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #00bba4;
}

/*--------------Footer------------------*/
.footer-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4f4f4f;
  font-size: 14px;
  min-height: 60px;
}
@media (max-width: 768px) {
  .footer-elements {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.footer-elements .footer-navigation .footer-link {
  color: inherit;
  text-decoration: none;
  padding: 18px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.footer-elements .footer-navigation .footer-link:hover {
  background-color: #00bba4;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-elements .footer-navigation .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
}
.footer-elements .rights p {
  margin: 0;
}
@media (max-width: 768px) {
  .footer-elements .rights p {
    padding: 24px;
  }
}/*# sourceMappingURL=calendar.css.map */