@import "../utils/variables";
@import "../utils/mixins";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*---------------Header--------------------*/

#header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  border-bottom: $grey;
  @include for-tablet-landscape {
    margin-bottom: 40px;
  }
  .sign-up {
    padding: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      @include for-mobile {
        font-size: $fs-14;
      }
    }
  }
  img {
    @include for-mobile {
      transform: scale(0.6);
    }
  }
}

/*---------------Log-in--------------------*/

#main {
  .login-header,
  .signup-header {
    h3 {
      font-weight: $fw-600;
      font-size: $fs-24;
      line-height: 32px;
      margin: 0;
    }
  }

  form {
    margin: 40px auto;
    width: 90%;

    @include for-tablet-portrait {
      width: 60%;
    }

    @media (min-width: 990px) {
      width: 35%;
    }
    /*---------------Log in with Google--------------------*/

    .login-google,
    .signup-google {
      display: flex;
      align-items: center;
      background-color: $primaryColor;
      padding: 4px;
      border-radius: 10px;
      @include transition(0.2s);
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      .btn-google {
        font-size: $fs-16;
        padding: 0.3rem;
        margin-left: 24px;
        color: #fff;
      }
      .google-logo {
        @include flex(row);
        background-color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        float: left;
      }
    }

    #floatingInput,
    #floatingPassword {
      background: $grey;
    }
    /*---------------Log in button--------------------*/

    .btn-login,
    .btn-create-account {
      background: $secondaryColor;
      width: 100%;
      height: 3rem;
      font-size: $fs-14;
      border: none;
      @include transition(0.2s);
      &:hover {
        opacity: 0.8;
      }
      a {
        text-decoration: none;
        color: #fff;
        height: 100%;
        height: 100%;
        @include flex(row);
      }
    }
  }
  /*---------------Password input--------------------*/

  .password {
    position: relative;
    .fa {
      position: absolute;
      right: 16px;
      top: 40%;
      color: $mainDark;
      cursor: pointer;
    }
  }
  .forgot-password,
  .agreement {
    a {
      @include transition(0.2s);
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
